.timeline
  %div
    %i.fas.fa-envelope.bg-blue
    .ml-5
      %label Hashtags
      %p Choose a few default hashtags that will be automatically attached to posts made by community members. These hashtags help in organising and discovering content within your community.
  %div
    %i.fas.fa-user.bg-green
  %div
    %i.fas.fa-comments.bg-yellow