%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{'data-widget' => 'pushmenu', :href => '#', :role => 'button'}
        %h5#header-title Server settings
  %ul.navbar-nav.ml-auto
    %li.nav-item.mx-4
      %form.form-inline
        %div.input-group
          %div.input-group-prepend
            %span.input-group-text
              %i.fas.fa-search
          %input.form-control.form-control-navbar{type: "search", placeholder: "Search", 'aria-label' => "Search"}
    %li.nav-item.mx-2
      - unless user_admin?
        %a.btn.btn-danger{ href: "#{get_my_server}", target: '_blank'} Go to server
    %li.nav-item.mx-2
      %a.nav-link{'data-method' => 'delete', :href => destroy_user_session_url, :class => 'nav-link hover-effect'}
        = image_tag("icons/arrow-right-from-bracket.svg", class: "mr-2", width: "16", height: "16")
        Sign out
