- @custom_paginator = custom_paginator
%nav{"aria-label" => "Page navigation example"}
  %ul.pagination.pagination-sm.m-0.float-right
    - if @custom_paginator.prev_page
      %li.page-item
        %a.page-link{href: "javascript:void(0);", onclick: "renderPage('#{url_for_page(@custom_paginator.prev_page)}')"} &laquo;
    - else
      %li.page-item.disabled
        %span.page-link «

    - if @custom_paginator.current_page >= 5
      %li.page-item.disabled
        %span.page-link ...

    - @custom_paginator.each_page.take(5).each do |page|
      - if page
        %li{class: "page-item #{'active' if page.current?}"}
          %a.page-link{href: "javascript:void(0);", onclick: "reload_contributors_table('#{url_for_page(page.number)}')"}= page.number

    - if @custom_paginator.total_pages >= @custom_paginator.current_page
      %li.page-item.disabled
        %span.page-link ...

    - if @custom_paginator.next_page
      %li.page-item
        %a.page-link{href: "javascript:void(0);", onclick: "reload_contributors_table('#{url_for_page(@custom_paginator.next_page)}')"} &raquo;
    - else
      %li.page-item.disabled
        %span.page-link »
