- content_for :title do
  = 'Installation'

.row 
  .col-12
    .card.resource-mastodon
      .card-header
        .card-title
          = image_tag("icons/mastodon.svg", class: "mr-2", width: "117", height: "50")

      .card-body
        %p
          Patchwork runs on Mastodon's open-source software. If you're not already running Mastodon,
          %br
          you'll need to install this first.
        %p.text-muted
          Patchwork runs on Mastodon versions 1.2.0 and above. If you're not running one of these, you'll need to
          %br
          upgrade your Mastodon installation first.
        .row.mt-5
          .col-12.d-flex.justify-content-start
            %div.btn-group
              %button.btn.btn-outline-light.install-mastodon
                = image_tag("icons/download.svg", class: "mr-2", width: "16", height: "16")
                Install Mastodon
              %button.btn.btn-outline-light.ml-3
                Upgrade Mastodon

.row.cards-container
  .col-6
    .card.card-equal-height
      .card-header
        %h3.card-title Patchwork Standard
      .card-body
        %p.text-muted
          Install a lighter version of Patchwork with standard tools to enhance your server, including post, moderation & federation features. Excludes channels.
        .mt-auto
          %button.installed-button.btn.btn-outline-secondary
            Installed
            %i.fa-solid.fa-check
  .col-6
    .card.card-equal-height
      .card-header
        %h3.card-title Patchwork Community
      .card-body
        %p.text-muted
          Install a more powerful version of Patchwork with channels, designed to improve organisation and discovery on your server, as well as the features included in the standard version.
        .mt-auto
          %button.install-button.btn.btn-outline-secondary Install

.row.ml-1.pt-3
  .col-12
    %h6 Useful links
    .row
      %a{ href: 'https://github.com/patchwork-hub/patchwork_dashboard/wiki/Installation', target: '_blank' }
        = image_tag("icons/file-lines.svg", class: "mr-2", width: "16", height: "16")
        Installation Guide
