%p
  Thanks for creating a channel with us. Your channel will be up and running in one working day.

%p
  %strong Channel Name:
  = @community.name

%p
  %strong Description:
  = @community.description
