- content_for :title do
  = 'Keyword filters'

.row
  .col-12
    .card
      .card-header
        %h3.card-title Keyword filters
      .card-body
        %table#datatable.table.table-bordered.table-striped{data: {url: keyword_filters_url, type: 'keyword_filter_list'}}
          %thead
            %tr
              %th Server setting
              %th Custom filter keyword
              %th Is active?
              %th Filter type
          %tbody
