@import "bootstrap";
@import "dataTables.bootstrap4.min";
@import "responsive.bootstrap4.min";

// Import other SCSS files
@import "server_setting";

.select-info {
  padding-left: 7px;
}

#select_all {
  margin: 0 7px;
  width: 100%;
}

table.dataTable.table-striped > tbody > tr.odd.selected > * {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05) !important;
  color: rgb(33, 37, 41) !important;
}

table.dataTable.table-striped > tbody > tr.even.selected > * {
  box-shadow: unset !important;
  color: rgb(33, 37, 41) !important;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

div.password {
  position: relative;

  svg {
    position: absolute;
    right: 1%;
    top: 60%;
  }
}

#datatable thead th {
  background-color: #f8f9fa;
  text-align: left;
}

#datatable ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#datatable ul li {
  margin: 5px 0;
}

.community-detail {
  .card-tools {
    &.admin {
      width: 15%;
    }
    &.hashtag {
      width: 10%;
    }
    .input-group {
      text-align: center;
    }
  }
}

// login box
.sign-in {
  .card {
    margin: 0 auto;
    padding-top: 25px;

    .card-title {
      margin-left: 20px;
      font-weight: 700;
    }

    label {
      font-weight: normal !important;
    }
  }
}

// sidebar
.sidebar-collapse {
  #logo {
    width: 100px;
  }
}

aside {
  .nav-link {
    &:not(.active):hover {
      color: #fff !important;
    }

    &.active {
      color: #fff !important;
    }

    &:hover {
      color: #fff !important;
    }

    .nav-icon {
      margin-right: 10px;
    }
  }

  .brand-link {
    padding: 1rem;

    #logo {
      width: 100px;
      transition: width 0.3s;
    }
  }

  &:hover {
    #logo {
      width: 100px;
    }
  }
}
// sidebar

// pagination
ul.pagination {
  li {
    a.page-link {
      color: grey !important;
      &:hover {
        color: #DC3545 !important;
      }
    }
  }
  li.active {
    a.page-link {
      color: #fff !important;
      background-color: #DC3545 !important;
      border-color: #DC3545 !important;
    }
  }
}
// pagination

.card-body {
  a.back {
    padding-left: 0.5rem;
  }
}


.card-tools a:not(.no-hover), td a, a.edit, a.back, a.brand-link, a.link {
  color: #00afdb !important;

  &:hover {
    color: #DC3545 !important;
  }
}

// override bootstrap
.alert-success {
  background-color: #74b87a !important;
  border-color: #74b87a !important;
}

.alert-danger {
  background-color: #E33D26 !important;
  border-color: #E33D26 !important;
}

.btn-outline-primary {
  border-color: #00afdb !important;
  color: #00afdb !important;
}

.btn-outline-primary:hover {
  background-color: #00afdb !important;
  border-color: #00afdb !important;
  color: #fff !important;
}
// bootstrap

// header
.input-group .input-group-text {
  background-color: #f5f5f5;
  border: 1px solid #ced4da;
  border-right: 0;
}

.input-group .form-control-navbar {
  border: 1px solid #ced4da !important;
  border-left: 0 !important;
  padding-left: 0px !important;
  width: 439px !important;
}

.input-group .input-group-prepend .input-group-text {
  display: flex;
  align-items: center;
}

.content-wrapper {
  margin-top: 57px;
}

.sidebar {
  position: fixed;
  height: calc(100% - 57px);
}
// header

// right sidebar
.top-card {
  height: calc(100% - 57px);
  margin-top: 57px;
  background-color: #2E363B;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
  z-index: 1;
  .text-light{
    position: relative;
    z-index: 1;
  }
}

.top-card::before {
  content: '';
  background: url('patchwork-logo.svg') no-repeat;
  background-size: 210px;
  position: absolute;
  top: -58px;
  right: -58px;
  width: 220px;
  height: 230px;
  opacity: 0.5;
  z-index: 0;
}

.card-body .fa-check {
  margin-right: 0.5rem;
}

.card-body a.btn {
  display: block;
  width: 100%;
  text-align: center;
}

.right-sidebar {
  position: fixed;
  overflow: hidden;
  height: calc(100% - 57px);
  margin-top: 57px;
}
// right sidebar

/* select 2 */
.select2-container--bootstrap .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}

.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background-color: #e7e3e3 !important;
  color: #000 !important;

  &:hover {
    color: #000 !important;
  }
}

.select2-search__field {
  padding: 5px !important;
}

.select2-selection__rendered {
  line-height: 27px !important;
}
.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}
.select2-selection__arrow {
  height: calc(2.25rem + 1px) !important;
}
/* select 2 */

/* tooltip */
.tooltip-custom {
  position: relative;
  cursor: pointer;
}

.tooltip-custom::after {
  content: attr(data-tooltip-text);
  visibility: hidden;
  opacity: 0;
  width: 400px;
  background-color: #2E363B;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

/* Default tooltip position: top */
.tooltip-custom[data-tooltip-position="top"]::after {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

/* Tooltip position: right */
.tooltip-custom[data-tooltip-position="right"]::after {
  top: 50%;
  left: 125%;
  transform: translateY(-50%);
}

.tooltip-custom:hover::after {
  visibility: visible;
  opacity: 1;
}

/* tooltip */

/* keywrod filter edit buttons */
.btn-custom {
  width: 250px !important;
}
/* keywrod filter edit buttons */

/* handle collapse arrow */
.arrow-toggle .icon-arrow-down {
  display: inline-block;
}

.arrow-toggle .icon-arrow-up {
  display: none;
}

.arrow-toggle.collapsed .icon-arrow-down {
  display: none;
}

.arrow-toggle.collapsed .icon-arrow-up {
  display: inline-block;
}
/* handle collapse arrow */

/* stepper */
.stepper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  padding-left: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  padding-left: 50px;
}

.circle {
  width: 36px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: white;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

.label {
  margin-top: 4px;
  color: #666;
  font-weight: bold;
}

.desc {
  margin-top: 4px;
  color: #999;
  text-align: left;
}

.step.active .circle {
  border-color: #DC3545;
  color: #DC3545;
}

.step.active .label {
  color: #000;
}

.step.active .desc {
  color: #000;
}

.step.done .circle {
  border-color: #DC3545;
  background: url('check.svg') no-repeat;
  background-size: 36px 36px;
  background-position: center;
}

.step.done .step-no {
  display: none;
}

.step:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 36px;
  left: 18px;
  width: 2px;
  height: 100%;
  background-color: #ccc;
  z-index: -1;
}
/* stepper */

.ck-editor__editable_inline {
  min-height: 100px;
}

.red {
  color: #DC3545;
}

.custom-modal-width {
  max-width: 70% !important;
}

@media (min-width: 992px) {
  .custom-modal-width {
    max-width: 50% !important;
  }
}

.filter-modal-width {
  max-width: 50% !important;
}

@media (min-width: 992px) {
  .filter-modal-width {
    max-width: 40% !important;
  }
}

/* community preview */
.btn-group-toggle .btn {
  position: relative;
  padding: 15px;
  text-align: left;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.btn-group-toggle .btn.selected {
  border-color: #DC3545;
}

.btn-group-toggle .btn.selected .selected-indicator {
  display: block;
  background-color: #DC3545;
  color: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.btn-group-toggle .btn .selected-indicator {
  display: none;
}

.btn-group-toggle .btn input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.btn-group-toggle .btn.selected input[type="radio"] {
  border-color: #DC3545;
}

.bordered-checkbox, .bordered-radio {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

.red-check-box {
  accent-color: #DC3545;
}

.text-smaller {
  font-size: 0.8rem;
}
/* community preview */

.resource-mastodon {
  background-color: #000 !important;
  color: #fff;
}

.resource {
  height: 200px;
}

.resource-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-body .installed-button {
  align-self: flex-start;
}

.install-mastodon {
  background: linear-gradient(180deg, #6364FF 0%, #563ACC 99.99%);
}

.card.homepage {
  position: relative;
  background-color: #2E363B;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: -135px;
  z-index: 1;
}

.large-logo {
  width: 260px;
  height: auto;
}

.small-card {
  width: 100%;
}

.no-side-borders th,
.no-side-borders td {
  border-left: none !important;
  border-right: none !important;
}

.top-bottom-border {
  border-top: 2px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.align-left {
  text-align: left !important;
}

#select_all {
  margin: 0;
  text-align: left;
}

/* community filter keyword */
.filter-hashtag {
  padding-left: 0.5rem !important;
  accent-color: #DC3545;
}

#search-results {
  position: relative;
}
#disabled-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

#loading-spinner img {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* community filter keyword */

// d flex gap spacing

.gap-1{
  gap: 10px;
}

.avatar-image-upload-container{
  display: flex;
  flex-direction: row;
}

// nested-fields-remove
.nested-fields[style*="display: none"] {
  display: none !important;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 0rem;
  .card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.installed-button{
  width: max-content !important;
}

.position-relative {
  position: relative;
}

.position-absolute.index-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  color: white;
}

/* Parent Container */
.bluesky-bridge-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between steps */
  margin-top: 20px;
}

/* Step Container */
.bluesky-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

/* Step Content */
.bluesky-step-content {
  margin-top: 10px;
}

.bluesky-step-content p {
  margin: 0;
  font-size: 14px;
  color: #666;
  text-align: left;
}

/* Circle Style */
.blue-sky-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.blue-sky-circle.completed {
  background-color: #5ca7f8; /* Red for completed steps */
}

.blue-sky-circle.grey {
  background-color: #ccc; /* Grey for pending steps */
}

.dropzone {
  min-height: 300px;
  max-height: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.dropzone-preview {
  object-fit: contain;
  display:block;
  width:100%;
  height:auto;
  z-index: 1;
}

.dropzone-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 2;
  background-color: rgba(248, 249, 250, 0.8);
}

#currentBanner[style*="display: block"] + .dropzone-placeholder {
  display: none !important;
}

.select2-container--default {
  .select2-selection--single {
    height: 38px;
    padding: 5px;

    .select2-selection__rendered {
      line-height: 26px;
    }
  }
}

.select2-icon-image {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.copyable-text {
  color: #6c757d;
  cursor: pointer;

  &:hover {
    color: #212529;
  }
}

.unstyled-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: inline;
  line-height: 1;
}

.custom-emoji {
  height: 1.25em;
  vertical-align: middle;
}
