@import "bootstrap";
@import "dataTables.bootstrap4.min";
@import "responsive.bootstrap4.min";

// Import other SCSS files
@import "server_setting";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.select-info {
  padding-left: 7px;
}

#select_all {
  margin: 0 7px;
  width: 100%;
}

table.dataTable.table-striped > tbody > tr.odd.selected > * {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05) !important;
  color: rgb(33, 37, 41) !important;
}

table.dataTable.table-striped > tbody > tr.even.selected > * {
  box-shadow: unset !important;
  color: rgb(33, 37, 41) !important;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

div.password {
  position: relative;

  svg {
    position: absolute;
    right: 1%;
    top: 60%;
  }
}

#datatable thead th {
  background-color: #f8f9fa;
  text-align: left;
}

#datatable ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#datatable ul li {
  margin: 5px 0;
}

.community-detail {
  .card-tools {
    &.admin {
      width: 15%;
    }
    &.hashtag {
      width: 10%;
    }
    .input-group {
      text-align: center;
    }
  }
}

// login box
.sign-in {
  .card {
    margin: 0 auto;
    padding-top: 25px;

    .card-title {
      margin-left: 20px;
      font-weight: 700;
    }

    label {
      font-weight: normal !important;
    }
  }
}

// sidebar
.sidebar-collapse {
  #logo {
    width: 100px;
  }
}

aside {
  .nav-link {
    &:not(.active):hover {
      color: #fff !important;
    }

    &.active {
      color: #fff !important;
    }

    &:hover {
      color: #fff !important;
    }

    .nav-icon {
      margin-right: 10px;
    }
  }

  .brand-link {
    padding: 1rem;

    #logo {
      width: 180px;
      transition: width 0.3s;
    }
  }

  &:hover {
    #logo {
      width: 180px;
    }
  }
}
// sidebar

// pagination
ul.pagination {
  li {
    a.page-link {
      color: #00afdb !important;
      &:hover {
        color: #E33D26 !important;
      }
    }
  }
  li.active {
    a.page-link {
      color: #fff !important;
      background-color: #00afdb !important;
      border-color: #00afdb !important;
    }
  }
}
// pagination

.card-body {
  a.back {
    padding-left: 0.5rem;
  }
}


.card-tools a:not(.no-hover), td a, a.edit, a.back, a.brand-link, a.link {
  color: #00afdb !important;

  &:hover {
    color: #E33D26 !important;
  }
}

// override bootstrap
.alert-success {
  background-color: #74b87a !important;
  border-color: #74b87a !important;
}

.alert-danger {
  background-color: #E33D26 !important;
  border-color: #E33D26 !important;
}

.btn-outline-primary {
  border-color: #00afdb !important;
  color: #00afdb !important;
}

.btn-outline-primary:hover {
  background-color: #00afdb !important;
  border-color: #00afdb !important;
  color: #fff !important;
}
// bootstrap

// header
.input-group .input-group-text {
  background-color: #f5f5f5;
  border: 1px solid #ced4da;
  border-right: 0;
}

.input-group .form-control-navbar {
  border: 1px solid #ced4da !important;
  border-left: 0 !important;
  padding-left: 0px !important;
  width: 439px !important;
}

.input-group .input-group-prepend .input-group-text {
  display: flex;
  align-items: center;
}
// header

// right sidebar
.top-card {
  background-color: #2E363B;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}

.top-card::before {
  content: '';
  background: url('patchwork-logo.svg') no-repeat;
  background-size: 210px;
  position: absolute;
  top: -58px;
  right: -58px;
  width: 220px;
  height: 230px;
  opacity: 0.5;
}

.card-body .fa-check {
  margin-right: 0.5rem;
}

.card-body a.btn {
  display: block;
  width: 100%;
  text-align: center;
}
// right sidebar



/* select 2 */
.select2-container--bootstrap .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}

.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background-color: #e7e3e3 !important;
  color: #000 !important;

  &:hover {
    color: #000 !important;
  }
}

.select2-search__field {
  padding: 5px !important;
}

.select2-selection__rendered {
  line-height: 27px !important;
}
.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}
.select2-selection__arrow {
  height: calc(2.25rem + 1px) !important;
}
/* select 2 */

/* tooltip */
.tooltip-custom {
  position: relative;
  cursor: pointer;
}

.tooltip-custom::after {
  content: attr(data-tooltip-text);
  visibility: hidden;
  opacity: 0;
  width: 400px;
  background-color: #2E363B;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-custom:hover::after {
  visibility: visible;
  opacity: 1;
}

/* tooltip */

/* keywrod filter edit buttons */
.btn-custom {
  width: 150px !important;
}
/* keywrod filter edit buttons */
