@import "bootstrap";
@import "dataTables.bootstrap4.min";
@import "responsive.bootstrap4.min";

.select-info {
  padding-left: 7px;
}

#select_all {
  margin: 0 7px;
  width: 100%;
}

table.dataTable.table-striped > tbody > tr.odd.selected > * {    
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05) !important;
  color: rgb(33, 37, 41) !important;
}

table.dataTable.table-striped > tbody > tr.even.selected > * {
  box-shadow: unset !important;
  color: rgb(33, 37, 41) !important;
}

td {
  vertical-align: middle !important;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

div.password {
  position: relative;

  svg {
    position: absolute;
    right: 1%;
    top: 60%;
  }
}

.community-detail {
  .card-tools {
    &.admin {
      width: 15%;
    }
    &.hashtag {
      width: 10%;
    }
    .input-group {
      text-align: center;
    }
  }
}

// login box
.sign-in {
  .card {
    margin: 0 auto;
    padding-top: 25px;
    
    .card-title {
      margin-left: 20px;
      font-weight: 700;
    }

    label {
      font-weight: normal !important;
    }
  }
}

// sidebar
.sidebar-collapse {
  #logo {
    width: 100px;
  }
}
aside {
	background-color: #fff;
	
	.nav-link.active {
	  background-color: #00afdb !important;
	}

	.nav-link:not(.active):hover {
	  color: #E33D26 !important;
	}
  &:hover {
    #logo {
      width: 180px;
    }
  }

}
// sidebar

// pagination
ul.pagination {
  li {
    a.page-link {
      color: #00afdb !important;
      &:hover {
        color: #E33D26 !important;
      }
    }
  }
  li.active {
    a.page-link {
      color: #fff !important;
      background-color: #00afdb !important;
      border-color: #00afdb !important; 
    }
  }
}
// pagination

.card-body {
  a.back {
    padding-left: 0.5rem;
  }
}


.card-tools a:not(.no-hover), td a, a.edit, a.back, a.brand-link, a.link {
  color: #00afdb !important;
  
  &:hover {
    color: #E33D26 !important;
  }
}

// override bootstrap
.alert-success {
  background-color: #74b87a !important;
  border-color: #74b87a !important;
}

.alert-danger {
  background-color: #E33D26 !important;
  border-color: #E33D26 !important;
}

.btn-outline-primary {
  border-color: #00afdb !important;
  color: #00afdb !important;
}

.btn-outline-primary:hover {
  background-color: #00afdb !important;
  border-color: #00afdb !important;
  color: #fff !important;
}
// bootstrap

//server setting
.chip {
  display: inline-flex;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 16px;
  background-color: #e0e0e0;
  align-items: center;
  gap: 10px;;
  margin-bottom: 6px;
}

/*switch UI*/ 
$switch-background-color_1: #ccc;
$switch-background-color_2: white;
$switch-background-color_3: #2196F3;

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 24px;
  margin:0;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $switch-background-color_1;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: $switch-background-color_2;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input {
  &:checked {
    + {
      .switch-slider {
        background-color: $switch-background-color_3;

        &:before {
          position: absolute;
          left: 20px;
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(16px);
        }
      }
    }
  }

  &:focus {
    + {
      .switch-slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
  }
}

.switch-slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}
