- content_for :title do
  = 'Server Setting'

.row
  .col-12
    .card
      .card-header
        %h3.card-title Server Setting
      .card-body
        %table#datatable.table.table-bordered.table-striped{data: { url: server_setting_url, type: 'server_setting_list' }}
          %thead
            %tr
              %th Setting
              %th Options
          %tbody
