#addContributorModal.modal.fade{ role: 'dialog', tabindex: "-1", aria: { labelledby: 'addContributorModalLabel', hidden: 'true' } }
  .modal-dialog.custom-modal-width{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title Add a contributor
        %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
          = image_tag 'icons/circle-xmark.svg', alt: 'Close', width: 18, height: 18, 'aria-hidden': 'true'
      .modal-body
        %p.small Use the search functionality below to add contributors to your channel.
        - if @token.nil?
          %p.small.red
            %i.fa-solid.fa-triangle-exclamation
            To proceed with the search and follow action, please enable boost bot.
        %button.btn.btn-outline-secondary{ type: "button" }
          Add from shared list
          %i.fa-solid.fa-list.ml-2
        .input-group.my-3
          %div.input-group-prepend
            %span.input-group-text
              %i.fa-solid.fa-search
          %input.form-control#search-input{ "aria-label": "Search contributor", placeholder: "Search by name or username", type: "text", data: { communityId: @community.id } }
        %div#search-results.list-group
          %p No results yet...
      .modal-footer
        %button.btn.btn-secondary{ "data-dismiss": "modal" } Cancel
        %button.btn.btn-danger.save-change Save changes
