- @selected_option = "public"

.container-fluid
  .row-md-12.my-4
    .col
      %ol.carousel-indicators
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step 6 - Additional information
        .card-body
          .row
            .col
              %label Community guidelines
              %p.text-muted.small This section lets you add any guidelines specific to this community. You can include any important information members need to know before participating. Please ensure guidelines are clearly stated, and help maintain a respectful and organised environment. Please note these guidelines only apply to this community, not the server as a whole.
          .row.mb-2
            .col-auto
              No.
            .col-auto
              Rule
          .row.mb-2
            .col-auto
              %i.fas.fa-circle.fa-2x.text-blue
            .col
              %input#exampleInputEmail1.form-control{placeholder: "This is some text for a community rule.", type: "email"}/
          .row.mb-2
            .col-auto
              %i.fas.fa-circle.fa-2x.text-blue
            .col
              %input#exampleInputEmail1.form-control{placeholder: "This is some text for a community rule.", type: "email"}/
          .row
            .col.text-right
              %a.text-danger{ href: step2_communities_path } Add another rule
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Additional Information
        .card-body
          .row.mb-2
            .col-md-3
              Heading
            .col-md-8
              text
            .col-md-1
          .row.mb-2
            .col-md-3
              %input#exampleInputEmail1.form-control{placeholder: "Enter a heading", type: "email"}/
            .col-md-8
              %input#exampleInputEmail1.form-control{placeholder: "Enter a heading", type: "email"}/
            .col-md-1.text-center
              %i.far.fa-trash-alt.text-danger
          .row.mb-2
            .col-md-3
              %input#exampleInputEmail1.form-control{placeholder: "Enter a heading", type: "email"}/
            .col-md-8
              %input#exampleInputEmail1.form-control{placeholder: "Enter a heading", type: "email"}/
            .col-md-1.text-center
              %i.far.fa-trash-alt.text-danger
      .row.d-flex.justify-content-between
        .col
          %a.btn.btn-outline-secondary{ href: step5_communities_path } Back
        .col-auto
          %button.btn.btn-danger{"data-toggle" => "modal", "data-target" => "#previewCommunityModal"} Preview Community

= render "preview_community"
