.row-md-12.my-4
  .col
    %ol.carousel-indicators
      %li.bg-danger.active{style: "width: 65px; height: 5px;"}
      %li.bg-secondary{style: "width: 65px; height: 5px;"}
      %li.bg-secondary{style: "width: 65px; height: 5px;"}
      %li.bg-secondary{style: "width: 65px; height: 5px;"}
      %li.bg-secondary{style: "width: 65px; height: 5px;"}
      %li.bg-secondary{style: "width: 65px; height: 5px;"}
.col-md-12
  %div.card.mt-4
    .card-header
      %div.d-flex.justify-content-between
        %div
          %h5.card-title Step 1 - Community Information
    .card-body
      %p{ style: "font-size: 12px;" "color: #BEBEBE;" } Fill out the basic details for your community. Provide a unique name, choose the collection it belongs to, and upload a banner and avatar image. Write a short bio to describe the community's purpose and theme. Inline tooltips will help guide you through each field.
      .row
        .col
          %label Username
          %input{type: "text", class: "form-control", id: "basic-url", "aria-describedby" => "basic-addon3"}
          %p{ style: "font-size: 12px;" "color: #BEBEBE;" } This will be the communities public display name. Once your community is created you will not be able to change this.
        .col
          %label Collection
          %select.form-control.form-select-lg{"aria-label" => "Choose a collection"}
            %option{selected: true} Open this select menu
            %option{value: "1"} One
            %option{value: "2"} Two
            %option{value: "3"} Three
          %p{ style: "font-size: 12px;" "color: #BEBEBE;" } Use this field to select the group or category that this community will belong to. 
      .row
        .col
          .alert.alert-light{ role: "alert", style: "background-color: #F6F8FA;" }
            .d-flex.align-items-center
              %p.mb-0{ style: "font-size: 13px; width: 22px; height: 22px; font-weight: 700;" } Tip
              = image_tag("icons/circle_info.svg", class: "m-2", width: "30px", height: "30px", style: "color: #3FA7E8;")
              %p.mb-0{ style: "color: #BEBEBE;" } Be sure to select the most relevant collection for this community as collections help users find related communities easily.
      .row
        .col
          %label Bio
          %textarea.form-control{id: "community_bio", rows: "3"}
      .row.mt-3
        .col-8
          %label Banner Image
          .dropzone.p-5.border.rounded
            .text-center
              %i.bi.bi-file-earmark-arrow-up.fs-1.mb-3
              %p.mb-1 Drag & drop an image here
              %p.mb-1 or click to select a file
              %p.mb-0{ style: "font-size: 12px;" "color: #BEBEBE;" } 1080 x 300 recommended dimensions, up to 5MB
            %input.form-control-file.mt-3{id: "customFile", type: "file"}
        .col
          %label Avatar
          .text-center
            %input.form-control-file.mt-3{id: "customFile", type: "file"}
            %i.bi.bi-file-earmark-arrow-up.fs-1.mb-3
            %p.mb-1 SVG,PNG,JPG(max:800x800px)
  .row.d-flex.justify-content-between
    .col-auto
      %a.btn.btn-outline-secondary{ href: '#' } Back
    .col-auto
      %a.btn.btn-danger{ href: step2_communities_path } Continue
