%tr.nested-fields
  %td{ style: 'width: 30%;' }
    = f.text_field :heading, class: 'form-control', placeholder: "Enter heading"
  %td{ style: 'width: 65%;' }
    = f.text_field :text, class: 'form-control', placeholder: "Enter text"
  %td{ style: 'width: 5%;' }
    = link_to_remove_association f, class: 'text-danger', title: "Remove" do
      %i.far.fa-trash-alt
