#previewCommunityModal.modal.fade{ role: 'dialog', tabindex: "-1", aria: { labelledby: 'previewCommunityModalLabel', hidden: 'true' } }
  .modal-dialog.custom-modal-width{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#previewCommunityModalLabel Preview your channel
        %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
          = image_tag 'icons/circle-xmark.svg', alt: 'Close', width: 18, height: 18, 'aria-hidden': 'true'
      .modal-body
        %p.text-muted.small Use the preview below to check that your channel is set up and curated correctly.
        .community-preview
          %div{:style => "border: 1px solid #ddd; padding: 10px;"}
            .row.no-gutters
              %img{ src: asset_path('community-banner.svg'), alt: "Community Banner", style: "width: 100%; max-height: 200px;" }
            .row.align-items-center.ml-2
              .col-auto
                %img{ alt: "profile picture", src: asset_path('patchwork-logo.svg'), class: "rounded-circle mr-2", style: "width: 80px; height: 80px; margin-top: -60px; border: 2px solid white;" }
            .row.mt-3
              .col
                %h5.mb-0 Channel Name
                %p.text-muted.small.mb-0 @iwashere • Joined on Dec 2022
                %p.text-muted.small.mb-1 London, United Kingdom
                %p.small.mb-0 Lorem ipsum dolor sit amet consectetur. Ante morbi tincidunt faucibus integer lacus morbi.
            %hr
            .row.mt-3
              .col-auto
                %img{ alt: "profile picture", src: asset_path('patchwork-logo.svg'), class: "rounded-circle", style: "width: 40px; height: 40px;" }
              .col-10
                %h6.mb-0 John Smith
                %p.text-muted.mb-0 @johnsmith
              .col-auto
                .row
                  = image_tag("icons/primary.svg", class: "mt-1 mr-2", width: "16", height: "16")
                  %p.text-muted 2h
            .row.mt-1.mx-1
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .add-to-server.mt-4
          %h6 Choose visibility
          %p.text-muted.small Select whether only users on your server can participate in the community or open it up to a wider audience.
          .btn-group-toggle.d-flex.justify-content-between
            .btn.btn-light.btn-lg.flex-grow-1.mr-2.w-100.d-flex.flex-column.align-items-start{class: ("selected" if @selected_option == "public")}
              %input{type: "radio", name: "server_access", value: "public", autocomplete: "off", checked: ("checked" if @selected_option == "public")}
              %p.small.mb-0.flex-grow-1 Public
              %p.text-muted.text-smaller.mt-1.flex-grow-1 Publish publicly. Allow users on any Patchwork enabled server to discover and participate in your channel through the discovery hub.
              %div.small.selected-indicator.mt-auto Selected

            .btn.btn-light.btn-lg.flex-grow-1.mr-2.w-100.d-flex.flex-column.align-items-start{class: ("selected" if @selected_option == "guest")}
              %input{type: "radio", name: "server_access", value: "guest", autocomplete: "off", checked: ("checked" if @selected_option == "guest")}
              %p.small.mb-0.flex-grow-1 Share
              %p.text-muted.text-smaller.mt-1.flex-grow-1 Allow users who have signed into your server as guests to access this channel. Please ensure “Guest accounts” are enabled in the server settings.
              %div.small.selected-indicator.mt-auto Selected

            .btn.btn-light.btn-lg.flex-grow-1.w-100.d-flex.flex-column.align-items-start{class: ("selected" if @selected_option == "private")}
              %input{type: "radio", name: "server_access", value: "private", autocomplete: "off", checked: ("checked" if @selected_option == "private")}
              %p.small.mb-0.flex-grow-1 Community
              %p.text-muted.text-smaller.mt-1.flex-grow-1 Only allow users on your server to participate in this channel.
              %div.small.selected-indicator.mt-auto Selected

        .create-channel.mt-4
          %label_tag Broadcast this channel
          %p.text-muted.small Broadcast enables people on the wider social web, beyond Patchwork servers, to discover and participate on your channel.
        .row
          .bordered-checkbox.mx-2.mt-2
            %input.mr-2{ type: "checkbox", id: "create-channel"} I want to broadcast this channel
      .modal-footer
        %button.btn.btn-secondary{ "data-dismiss": "modal" } Cancel
        %button.btn.btn-danger Publish channel
