- content_for :title do
  = 'Communities'

.row
  .col-12
    .card
      .card-header
        %h3.card-title Communities
      .card-body
        %table#datatable.table.table-bordered.table-striped{data: {url: communities_url, type: 'community'}}
          %thead
            %tr
              %th Name
              %th Actions
          %tbody