- content_for :title do
  = 'Reports'

.row
  .col-12
    .card
      .card-header
        %h3.card-title Reports
      .card-body
        %table#datatable.table.table-bordered.table-striped{data: {url: reports_url, type: 'report_list'}}
          %thead
            %tr
              %th Owner name
              %th Owner username
              %th Reporter name
              %th Reporter username
              %th Status
              %th Actions
          %tbody