%nav{"aria-label" => "Page navigation example"}
  %ul.pagination.pagination-sm.m-0.float-right
    - if paginator&.prev_page
      %li.page-item
        = link_to raw('&laquo;'), url_for_page(paginator.prev_page), class: 'page-link'
    - else
      %li.page-item.disabled
        %span.page-link «
    - paginator.each_page do |page|
      - if page
        %li{class: "page-item #{'active' if page.current?}"}
          = link_to page, url_for_page(page), class: 'page-link'
      - else
        %li.page-item.disabled
          %span.page-link ...
    - if paginator.next_page
      %li.page-item
        = link_to raw('&raquo;'), url_for_page(paginator.next_page), class: 'page-link'
    - else
      %li.page-item.disabled
        %span.page-link »