!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body{style: 'font-size: 14px; line-height: 1.5; margin: 30px 40px 20px 62px;'}
    #logo
      = link_to(image_tag(asset_path('patchwork-logo.svg'), alt: "Patchwork Logo", width: 150, style: 'margin-bottom: 25px'), 'https://www.blog-pat.ch/')
    #content
      = yield
